/* .home-container {
  height: 100vh;

  background-image: url("../images/hospital.png");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: white;
}

.home-content {
  background: rgba(0,0,0,0.4);
  padding: 40px;
  border-radius: 10px;
} */